<div class="b-example-divider"></div>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Używanie komponentów!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Na początku stwórz konsolę w Bashu</p>
    <hr />
    <p class="lead mb-4">Wpisz:</p>
    <code class="lead mb-4"> npm install -g (małpa)angular/cli </code>
    <hr />
    <p class="lead mb-4">Po zaintalowaniu wystarczy wpisać poniższą komendę:</p>
    <p class="lead mb-4">
      <code>ng generate component "nazwa"</code> lub <code>ng g c "nazwa"</code>
    </p>
    <hr />
    <p class="lead mb-4">
      Podłącz w app.component.ts wszystkie stworzone moduły
    </p>
    <hr />
  </div>
</div>
<div class="b-example-divider"></div>
